body {
    width: 98%;
    background-image: url("../images/taxiGrind.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-content {
    background-color: rgb(0, 162, 221);
    height: auto;
}

h1 {
    background-color: #73007F;
    color: #ffffff;
}

#skate {
    color: rgb(255, 196, 0);
}

#timer {
    font-family: 'Orbitron', sans-serif;
    color: red;
}

@font-face {
    font-family: Punkass;
    src: url(../fonts/punkass_.ttf);
    }

#collectSkate, #skate, #findTape, #questionsRemaining, #notAnswered {
    font-family: Punkass;
}